<carousel>
  <div class="carousel-slide" id="1">
    <img
      src="../../assets/pictures/1964-ford-mustang.jpg"
      alt="Ford Mustang 1964"
    />
    <div class="content">
      <h3>1. Ford Mustang 1964</h3>
      <div class="data">
        <div class="person param">
          <i class="fa-solid fa-user"></i>
          <p>4</p>
        </div>
        <div class="power param">
          <i class="fa-solid fa-bolt"></i>
          <p>200 hp</p>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-slide" id="2">
    <img
      src="../../assets/pictures/Bmw 2002 Turbo 1973.jpg"
      alt="Bmw 2002 Turbo 1973"
    />
    <div class="content">
      <h3>2. Bmw 2002 Turbo 1973</h3>
      <div class="data">
        <div class="person param">
          <i class="fa-solid fa-user"></i>
          <p>4</p>
        </div>
        <div class="power param">
          <i class="fa-solid fa-bolt"></i>
          <p>200 hp</p>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-slide" id="3">
    <img
      src="../../assets/pictures/Porsche 911 1973.jpg"
      alt="Porsche 911 1973"
    />
    <div class="content">
      <h3>3. Porsche 911 1973</h3>
      <div class="data">
        <div class="person param">
          <i class="fa-solid fa-user"></i>
          <p>4</p>
        </div>
        <div class="power param">
          <i class="fa-solid fa-bolt"></i>
          <p>200 hp</p>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-slide" id="4">
    <img
      src="../../assets/pictures/Shelby cobra 1965.jpg"
      alt="Shelby cobra 1965"
    />
    <div class="content">
      <h3>4. Shelby cobra 1965</h3>
      <div class="data">
        <div class="person param">
          <i class="fa-solid fa-user"></i>
          <p>4</p>
        </div>
        <div class="power param">
          <i class="fa-solid fa-bolt"></i>
          <p>200 hp</p>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-slide" id="5">
    <img src="../../assets/pictures/Old_Timer.jpg" alt="Old_Timer" />
    <div class="content">
      <h3>5. Old_Timer</h3>
      <div class="data">
        <div class="person param">
          <i class="fa-solid fa-user"></i>
          <p>4</p>
        </div>
        <div class="power param">
          <i class="fa-solid fa-bolt"></i>
          <p>200 hp</p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="carousel-slide" id="6">
    <img src="../../assets/pictures/not-found.jpg" alt="Old_Timer" />
    <div class="content">
      <h3>6. Porsche</h3>
      <div class="data">
        <div class="person param">
          <i class="fa-solid fa-user"></i>
          <p>4</p>
        </div>
        <div class="power param">
          <i class="fa-solid fa-bolt"></i>
          <p>200 hp</p>
        </div>
      </div>
    </div>
  </div> -->
</carousel>
