<carousel [slideWidth]="15">
  <div class="carousel-slide">
    <img
      src="../../assets/pictures/1964-ford-mustang.jpg"
      alt="Ford Mustang 1964"
      draggable="false"
    />
    <div class="content">
      <h3>Ford Mustang 1964</h3>
      <div class="data">
        <div class="person param">
          <i class="fa-solid fa-user"></i>
          <p>4</p>
        </div>
        <div class="power param">
          <i class="fa-solid fa-bolt"></i>
          <p>200 hp</p>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-slide">
    <img
      src="../../assets/pictures/Bmw 2002 Turbo 1973.jpg"
      alt="Bmw 2002 Turbo 1973"
      draggable="false"
    />
    <div class="content">
      <h3>Bmw 2002 Turbo 1973</h3>
      <div class="data">
        <div class="person param">
          <i class="fa-solid fa-user"></i>
          <p>4</p>
        </div>
        <div class="power param">
          <i class="fa-solid fa-bolt"></i>
          <p>200 hp</p>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-slide">
    <img
      src="../../assets/pictures/Porsche 911 1973.jpg"
      alt="Porsche 911 1973"
      draggable="false"
    />
    <div class="content">
      <h3>Porsche 911 1973</h3>
      <div class="data">
        <div class="person param">
          <i class="fa-solid fa-user"></i>
          <p>4</p>
        </div>
        <div class="power param">
          <i class="fa-solid fa-bolt"></i>
          <p>200 hp</p>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-slide">
    <img
      src="../../assets/pictures/Shelby cobra 1965.jpg"
      alt="Shelby cobra 1965"
      draggable="false"
    />
    <div class="content">
      <h3>Shelby cobra 1965</h3>
      <div class="data">
        <div class="person param">
          <i class="fa-solid fa-user"></i>
          <p>4</p>
        </div>
        <div class="power param">
          <i class="fa-solid fa-bolt"></i>
          <p>200 hp</p>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-slide">
    <img
      src="../../assets/pictures/Old_Timer.jpg"
      alt="Old_Timer"
      draggable="false"
    />
    <div class="content">
      <h3>Old_Timer</h3>
      <div class="data">
        <div class="person param">
          <i class="fa-solid fa-user"></i>
          <p>4</p>
        </div>
        <div class="power param">
          <i class="fa-solid fa-bolt"></i>
          <p>200 hp</p>
        </div>
      </div>
    </div>
  </div>
</carousel>
