@font-face {
  font-family: "Poppins";
  src: url("./assets/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */
