@import "../node_modules/ngx-tooltip-ease/src/lib/tooltip.css";

@font-face {
  font-family: "Poppins";
  src: url("./assets/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Allura";
  src: url("./assets/Allura/Allura-Regular.ttf") format("truetype");
  font-weight: 400;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(203, 203, 203);
  border-radius: 10px;
}
