@font-face {
  font-family: "Poppins";
  src: url("./assets/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color-1: #fff;
  --primary-color-2: #18276f;
  --primary-color-3: #0079b4;
  --primary-color-4: #7a7a7a;
  --primary-color-5: #101924;
  --primary-color-6: #b90202;
  --primary-color-7: #2525b6;
  --color1: #18276f;
  --color2: #0c143b;
}
